.navbar_container {
  display: flex;
  justify-content: space-between;

  background-color: #eee;
  padding: 12px 48px;

  .navbar_title {
    display: flex;
    gap: 4px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba($color: #000000, $alpha: 0.80);

    img {
      width: 30px;
    }
  }

  .navbar_actions {
    display: flex;
    gap: 16px;

    fa-icon {
      color: rgba($color: #000000, $alpha: 0.80);
    }
  }
}