<div class="container">
  <section class="board">
    <div class="board-bar">
      <div class="board-name">Sprint #1</div>
    </div>
    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="column-title">{{column.name}}</div>

          <div class="tasks-container"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)">
            <div class="task" (click)="open(task)" *ngFor="let task of column.tasks" cdkDrag>
              <div class="task-title">{{task.title}}</div>
              <div class="task-content">
                <div class="content-status" ngClass="{{task.status}}">{{task.status}}</div>
                <div class="content-accountable">K</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-modal *ngIf="openModal" (clickWrapper)="openModal = false">
  <div class="modal-container">
    oi
  </div>
</app-modal>