<div class="container">
  <section class="board">
    <div class="board-bar">
      <div class="board-name">Sprint #1</div>
    </div>
    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="column-title">{{column.name}}</div>

          <div class="tasks-container"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)">
            <div class="task" (click)="open(task)" *ngFor="let task of column.tasks" cdkDrag>
              <div>{{task.title}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>