<div class="container">
  <section class="board">
    <div class="board-bar">
      <div class="board-name">{{board.name}}</div>
    </div>
    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="column-title">{{column.name}}</div>

          <div class="tasks-container"
          id="{{column.name}}"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)">
            <div class="task" (click)="open(task, i)" *ngFor="let task of column.tasks; let i=index" cdkDrag>
              <div class="task-title">{{task.title}}</div>
              <div class="task-content">
                <div class="content-status" ngClass="{{getClassName(task.status)}}">{{task.status}}</div>
                <div class="content-accountable">K</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-modal class="modal" *ngIf="openModal" (clickWrapper)="openModal = false">
  <div class="modal-container">
    <div class="modal-header">
      <h1 class="modal-title" contenteditable="true" #title (input)="onTitleChange(title.innerText)">{{currentTask?.title}}</h1>
      <div class="modal-tags">
        <span class="status" ngClass="{{getClassName(currentTask.status)}}">{{currentTask?.status}}</span>
      </div>

    </div>
    <div class="modal-content">
      <strong><h3>Descrição:</h3></strong> 
      <span contenteditable="true" #description (input)="onDescriptionChange(description.innerText)">
        {{currentTask?.description}}
      </span>

      <span><strong>Status</strong></span>
    
      <app-select 
        [list]="status"
        [selected]="currentTask?.status ? currentTask?.status : 'Status' "
        (selectedValue)="moveTask(currentTask, $event)"
       ></app-select>
    </div>
  </div>
</app-modal>